In [1]:
from scipy import sparse

train = sparse.load_npz("2_dimentional.npz")
train

<14590x2 sparse matrix of type '<class 'numpy.float32'>'
	with 29180 stored elements in Compressed Sparse Row format>

In [2]:
X = train.toarray()
X

array([[ 19.356373, -65.068375],
       [-18.53206 ,  97.00438 ],
       [ 67.1901  ,  35.998173],
       ...,
       [-20.703562, -40.7011  ],
       [ 47.325928,  15.491849],
       [ 17.554781,  37.543343]], dtype=float32)

In [3]:
from sklearn.cluster import DBSCAN
import numpy as np
import pandas as pd

In [86]:
dbscan = DBSCAN(eps=np.pi, min_samples=15)

In [87]:
clusters = dbscan.fit_predict(X)
clusters

array([-1, -1, -1, ...,  0, -1,  0])

In [88]:
df_describe = pd.DataFrame(clusters)
df_describe.describe()

                  0
count  14590.000000
mean      19.952228
std       40.285721
min       -1.000000
25%        0.000000
50%        0.000000
75%       13.750000
max      164.000000

In [41]:
submission = np.arange(len(clusters)).reshape(-1, 1)
submission = np.concatenate((submission, clusters.reshape(-1, 1)), axis=1)

In [42]:
np.savetxt("submission_DBSCAN_2d_pi_9.csv", submission, delimiter=",", header="ID,TARGET", comments="", fmt='%d')